.highlight {
  .n { color: #c3cee3; background-color: #252b39; font-style: normal; font-weight: normal }
  .o { color: #c3cee3; background-color: #252b39; font-style: normal; font-weight: normal }
  code { color: #c3cee3; background-color: #252b39; font-style: normal; font-weight: normal }
  pre { color: #c3cee3; background-color: #252b39; font-style: normal; font-weight: normal }
  .c { color: #7081be; font-style: normal; font-weight: normal }
  .c1 { color: #7081be; font-style: normal; font-weight: normal }
  .cm { color: #7081be; font-style: normal; font-weight: normal }
  .ss { font-style: normal; font-weight: normal }
  .nb { font-style: normal; font-weight: normal }
  .nc { font-style: normal; font-weight: normal }
  .nf { color: #8be9ee; font-style: normal; font-weight: normal }
  .vi { color: #d3afc5; font-style: italic }
  .k { color: #ffffff; font-weight: bold }
  .s { color: #e3c78a; font-style: normal; font-weight: normal }
  .s1 { color: #e3c78a; font-style: normal; font-weight: normal }
  .s2 { color: #e3c78a; font-style: normal; font-weight: normal }
  .si { color: #e3c78a; font-style: normal; font-weight: normal }
  .se { color: #e3c78a; font-style: normal; font-weight: normal }
  .nn { color: #e3c78a; font-style: normal; font-weight: normal }
  .no { color: #e3c78a; font-style: normal; font-weight: normal }
  .nf { color: #8be9ee; font-style: normal; font-weight: normal }
  .ss { color: #abd683; font-style: normal; font-weight: normal }
  .vi { color: #7081be; font-style: normal; font-weight: normal }
  .nc { color: #e3c78a; font-style: normal; font-weight: normal }
}
